<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apaza.moises.practicematerialdesign" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_parking"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".model.PlaceProvider"
            android:authorities="com.apaza.moises.practicematerialdesign.model.PlaceProvider"
            android:exported="false" />

        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".tourism.PlaceActivity"
            android:label="@string/title_activity_place"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
